{% extends "base.html" %}
{% load hostmonitor_extras %}
{% load future %}
{% block header %}
<h2>Hosts</h2>
{% endblock %}
{% block content %}
    {% if object_list %}
    <table>
    <tr>
      <th>IP</th>
      <th>DNS reverse</th>
      <th>Status</th>
    </tr>
    {% for host in object_list %}
      <tr class="{{ host.up|isup }}">
        <td>{{ host.ip }}</td>
        <td {% if host.name == None %}class="none"{% endif %}>{{ host.name }}</td>
        <td>
          <span class="status">{{ host.up|isup }}</span>
          {% if host.up %}
            (since {{host.up_since|date:"j.n.Y H:i" }})
          {% else %}
            {% if host.last_up %}
              (last up on {{host.last_up}})
            {% else %}
              (never up before)
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No hosts. Use <code>manage.py addhost</code> to add hosts to monitor.</p>
    {% endif %}
{% endblock %}
{% block footer %}
<a href="{% url 'network-list' %}">Back</p>
{% endblock %}
